@model OnlineWatchStore.ViewModels.SetupVM

@{
    ViewData["Title"] = "AllBrands";
}


<form method="post" action="AddNewBrand" class="row g-3">
    <div class="col-auto">
        <input type="text" asp-for=BrandItem.BrandName class="form-control" placeholder="Brand Name">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-sm btn-primary" style="padding:18px;">Add Brand</button>
    </div>
</form>
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Sr.</th>
            <th>Brand Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 1;
        }
        @if (Model.BrandList != null)
        {
            @foreach (var item in Model.BrandList)
            {
                <tr>
                    <td>@(count++)</td>
                    <td>@item.BrandName</td>
                    <td>
                        <a asp-action="Edit" class="btn btn-info" style="padding:18px;" asp-route-id="@item.BrandName">Edit</a>
                        <a asp-action="Delete" class="btn btn-danger" style="padding:18px;" asp-route-id="@item.BrandName">Delete</a>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
